body{
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    margin:0;
    padding: 10px;
    
    
}

body::before{
    content:'';
    background-image: url(home.jpg);
    position:absolute;
    inset:0;
    opacity:.6;

}



h1{
    isolation: isolate;
    text-align: center;
    }

h2{ isolation: isolate;
    text-align: center;
}
h3{text-align:center;
  isolation:isolate;}
p{ isolation: isolate;
    text-align: center;
}
td{text-align:center;
  isolation:isolate}
th{text-align:center;
  isolation:isolate}
tr{text-align:center;
  isolation: isolate;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: .75;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 1;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.center{
  display:block;
  margin-left: auto;
  margin-right:auto;
}

img{isolation:isolate}






.flex-container{
    display:flex;
}