
body{

    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    }

body::before{
    content:'';
    background-image: url(reshome.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    inset:0;
    opacity:.5;
    
}

h1{
    isolation: isolate;
    text-align: center;}
h2{isolation: isolate;
    text-align: center;}
h3{isolation: isolate;
    text-align: center;}
h4{isolation: isolate;
    text-align: center;}
h5{isolation: isolate;
    text-align: center;}
h6{isolation: isolate;
    text-align: center;}
p{isolation: isolate;
    text-align: center;
}
li{isolation: isolate;}

ol{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity:.75;

}
ol li{float:left;}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity:1;
    
  }

li a:hover{
    background-color:#111;
}


.flex-container{
    display:flex;
}